<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Laravel</title>
</head>
<body>
    <main id="app">
        <div v-for="article in articles">
            <div v-text="article.title"></div>
        </div>
    </main>
  
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data(){
                return {
                    articles:[],
                }
            },
            created() {
                this.fetchArticle()
            },
            methods: {
                async fetchArticle(){
                    let response = await axios.get("http://localhost:8000/api/article/")
                    this.articles = response.data.data
                }
            }

        })




    </script>
</body>
</html>